In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data=pd.read_csv("normal1000.csv")
data.head(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [74]:
data.isnull().values.any()

False

In [75]:
data.describe(include="object")

       Surname Geography Gender
count    10000     10000  10000
unique    2932         3      2
top      Smith    France   Male
freq        32      5014   5457

In [76]:
data.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [77]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
RowNumber          10000 non-null int64
CustomerId         10000 non-null int64
Surname            10000 non-null object
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [78]:
data.shape

(10000, 14)

In [79]:
data.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [80]:
x = data.iloc[:, 3:13]
x.columns

Index(['CreditScore', 'Geography', 'Gender', 'Age', 'Tenure', 'Balance',
       'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary'],
      dtype='object')

In [81]:
y = data.iloc[:, 13]
y.head(5)

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [82]:
x=data[(['CreditScore', 'Geography', 'Gender', 'Age', 'Tenure', 'Balance',
       'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary'])]
x.head(5)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [83]:
geography=pd.get_dummies(x["Geography"],drop_first=True)
gender=pd.get_dummies(x['Gender'],drop_first=True)

In [84]:
x=pd.concat([x,geography,gender],axis=1)

In [85]:
x.head(5)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,France,Female,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,1,0

In [86]:
x=x.drop(['Geography','Gender'],axis=1)

In [87]:
x.head(5)

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [88]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [89]:
x_train.shape

(8000, 11)

In [90]:
y_train.shape

(8000,)

In [91]:
x_test.shape

(2000, 11)

In [92]:
y_test.shape

(2000,)

In [93]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [94]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LeakyReLU,PReLU,ELU
from keras.layers import Dropout

In [95]:
classifier = Sequential()

In [96]:
classifier.add(Dense(units = 6,activation='relu',input_dim = 11))

In [97]:
classifier.add(Dense(units= 6, activation='relu'))

In [98]:
classifier.add(Dense(units= 1, activation = 'sigmoid'))

In [99]:
classifier.compile(optimizer = 'Adamax', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [100]:
model_history=classifier.fit(x_train, y_train,validation_split=0.33, batch_size = 10, epochs= 100)

Train on 5359 samples, validate on 2641 samples
Epoch 1/100
5359/5359 [==============================] - 1s 120us/step - loss: 0.6652 - accuracy: 0.6613 - val_loss: 0.5627 - val_accuracy: 0.7876
Epoch 2/100
5359/5359 [==============================] - ETA: 0s - loss: 0.5304 - accuracy: 0.79 - 0s 83us/step - loss: 0.5272 - accuracy: 0.7953 - val_loss: 0.5065 - val_accuracy: 0.7948
Epoch 3/100
5359/5359 [==============================] - 0s 84us/step - loss: 0.4977 - accuracy: 0.7981 - val_loss: 0.4889 - val_accuracy: 0.7936
Epoch 4/100
5359/5359 [==============================] - 0s 83us/step - loss: 0.4804 - accuracy: 0.8001 - val_loss: 0.4717 - val_accuracy: 0.7974
Epoch 5/100
5359/5359 [==============================] - 0s 84us/step - loss: 0.4631 - accuracy: 0.8043 - val_loss: 0.4595 - val_accuracy: 0.8054
Epoch 6/100
5359/5359 [==============================] - 0s 84us/step - loss: 0.4499 - accuracy: 0.8113 - val_loss: 0.4516 - val_accuracy: 0.8076
Epoch 7/100
5359/5359 [==============================] - 0s 85us/step - loss: 0.4407 - accuracy: 0.8186 - val_loss: 0.4465 - val_accuracy: 0.8111
Epoch 8/100
5359/5359 [==============================] - 0s 84us/step - loss: 0.4344 - accuracy: 0.8229 - val_loss: 0.4428 - val_accuracy: 0.8133
Epoch 9/100
5359/5359 [==============================] - ETA: 0s - loss: 0.4288 - accuracy: 0.82 - 0s 83us/step - loss: 0.4292 - accuracy: 0.8246 - val_loss: 0.4390 - val_accuracy: 0.8152
Epoch 10/100
5359/5359 [==============================] - 0s 89us/step - loss: 0.4243 - accuracy: 0.8280 - val_loss: 0.4353 - val_accuracy: 0.8201
Epoch 11/100
5359/5359 [==============================] - 0s 89us/step - loss: 0.4195 - accuracy: 0.8293 - val_loss: 0.4312 - val_accuracy: 0.8224
Epoch 12/100
5359/5359 [==============================] - 0s 86us/step - loss: 0.4143 - accuracy: 0.8326 - val_loss: 0.4266 - val_accuracy: 0.8217
Epoch 13/100
5359/5359 [==============================] - 0s 84us/step - loss: 0.4092 - accuracy: 0.8343 - val_loss: 0.4220 - val_accuracy: 0.8243
Epoch 14/100
5359/5359 [==============================] - 0s 85us/step - loss: 0.4040 - accuracy: 0.8367 - val_loss: 0.4174 - val_accuracy: 0.8289
Epoch 15/100
5359/5359 [==============================] - 0s 85us/step - loss: 0.3990 - accuracy: 0.8380 - val_loss: 0.4122 - val_accuracy: 0.8300
Epoch 16/100
5359/5359 [==============================] - 0s 84us/step - loss: 0.3928 - accuracy: 0.8401 - val_loss: 0.4058 - val_accuracy: 0.8307
Epoch 17/100
5359/5359 [==============================] - 0s 84us/step - loss: 0.3863 - accuracy: 0.8416 - val_loss: 0.3993 - val_accuracy: 0.8304
Epoch 18/100
5359/5359 [==============================] - 0s 84us/step - loss: 0.3795 - accuracy: 0.8434 - val_loss: 0.3934 - val_accuracy: 0.8315
Epoch 19/100
5359/5359 [==============================] - 0s 84us/step - loss: 0.3738 - accuracy: 0.8468 - val_loss: 0.3891 - val_accuracy: 0.8330
Epoch 20/100
5359/5359 [==============================] - 0s 84us/step - loss: 0.3684 - accuracy: 0.8481 - val_loss: 0.3846 - val_accuracy: 0.8326
Epoch 21/100
5359/5359 [==============================] - 0s 88us/step - loss: 0.3634 - accuracy: 0.8515 - val_loss: 0.3818 - val_accuracy: 0.8357
Epoch 22/100
5359/5359 [==============================] - 0s 84us/step - loss: 0.3600 - accuracy: 0.8526 - val_loss: 0.3786 - val_accuracy: 0.8360
Epoch 23/100
5359/5359 [==============================] - 0s 84us/step - loss: 0.3565 - accuracy: 0.8546 - val_loss: 0.3763 - val_accuracy: 0.8387
Epoch 24/100
5359/5359 [==============================] - 0s 85us/step - loss: 0.3537 - accuracy: 0.8558 - val_loss: 0.3745 - val_accuracy: 0.8372
Epoch 25/100
5359/5359 [==============================] - 0s 89us/step - loss: 0.3518 - accuracy: 0.8561 - val_loss: 0.3734 - val_accuracy: 0.8402
Epoch 26/100
5359/5359 [==============================] - 0s 91us/step - loss: 0.3494 - accuracy: 0.8582 - val_loss: 0.3714 - val_accuracy: 0.8436
Epoch 27/100
5359/5359 [==============================] - 0s 80us/step - loss: 0.3476 - accuracy: 0.8565 - val_loss: 0.3708 - val_accuracy: 0.8429
Epoch 28/100
5359/5359 [==============================] - 0s 89us/step - loss: 0.3462 - accuracy: 0.8584 - val_loss: 0.3702 - val_accuracy: 0.8444
Epoch 29/100
5359/5359 [==============================] - 0s 78us/step - loss: 0.3447 - accuracy: 0.8584 - val_loss: 0.3694 - val_accuracy: 0.8425
Epoch 30/100
5359/5359 [==============================] - 0s 81us/step - loss: 0.3434 - accuracy: 0.8595 - val_loss: 0.3681 - val_accuracy: 0.8429
Epoch 31/100
5359/5359 [==============================] - 0s 82us/step - loss: 0.3422 - accuracy: 0.8591 - val_loss: 0.3673 - val_accuracy: 0.8425
Epoch 32/100
5359/5359 [==============================] - 0s 87us/step - loss: 0.3410 - accuracy: 0.8627 - val_loss: 0.3677 - val_accuracy: 0.8448
Epoch 33/100
5359/5359 [==============================] - 0s 86us/step - loss: 0.3402 - accuracy: 0.8612 - val_loss: 0.3688 - val_accuracy: 0.8463
Epoch 34/100
5359/5359 [==============================] - 0s 84us/step - loss: 0.3395 - accuracy: 0.8591 - val_loss: 0.3663 - val_accuracy: 0.8425
Epoch 35/100
5359/5359 [==============================] - 0s 81us/step - loss: 0.3388 - accuracy: 0.8606 - val_loss: 0.3666 - val_accuracy: 0.8436
Epoch 36/100
5359/5359 [==============================] - 0s 81us/step - loss: 0.3380 - accuracy: 0.8612 - val_loss: 0.3658 - val_accuracy: 0.8455
Epoch 37/100
5359/5359 [==============================] - 0s 83us/step - loss: 0.3377 - accuracy: 0.8627 - val_loss: 0.3658 - val_accuracy: 0.8463
Epoch 38/100
5359/5359 [==============================] - 0s 83us/step - loss: 0.3370 - accuracy: 0.8614 - val_loss: 0.3655 - val_accuracy: 0.8444
Epoch 39/100
5359/5359 [==============================] - 0s 84us/step - loss: 0.3363 - accuracy: 0.8625 - val_loss: 0.3654 - val_accuracy: 0.8466
Epoch 40/100
5359/5359 [==============================] - 0s 83us/step - loss: 0.3362 - accuracy: 0.8634 - val_loss: 0.3651 - val_accuracy: 0.8470
Epoch 41/100
5359/5359 [==============================] - 0s 85us/step - loss: 0.3356 - accuracy: 0.8619 - val_loss: 0.3651 - val_accuracy: 0.8474
Epoch 42/100
5359/5359 [==============================] - 0s 84us/step - loss: 0.3354 - accuracy: 0.8630 - val_loss: 0.3645 - val_accuracy: 0.8489
Epoch 43/100
5359/5359 [==============================] - 0s 91us/step - loss: 0.3350 - accuracy: 0.8614 - val_loss: 0.3642 - val_accuracy: 0.8493
Epoch 44/100
5359/5359 [==============================] - 0s 86us/step - loss: 0.3347 - accuracy: 0.8625 - val_loss: 0.3641 - val_accuracy: 0.8485
Epoch 45/100
5359/5359 [==============================] - 0s 86us/step - loss: 0.3341 - accuracy: 0.8617 - val_loss: 0.3635 - val_accuracy: 0.8497
Epoch 46/100
5359/5359 [==============================] - 0s 83us/step - loss: 0.3339 - accuracy: 0.8627 - val_loss: 0.3637 - val_accuracy: 0.8489
Epoch 47/100
5359/5359 [==============================] - 0s 84us/step - loss: 0.3338 - accuracy: 0.8640 - val_loss: 0.3627 - val_accuracy: 0.8519
Epoch 48/100
5359/5359 [==============================] - 0s 83us/step - loss: 0.3335 - accuracy: 0.8625 - val_loss: 0.3631 - val_accuracy: 0.8504
Epoch 49/100
5359/5359 [==============================] - 0s 83us/step - loss: 0.3331 - accuracy: 0.8621 - val_loss: 0.3632 - val_accuracy: 0.8535
Epoch 50/100
5359/5359 [==============================] - 0s 85us/step - loss: 0.3324 - accuracy: 0.8606 - val_loss: 0.3638 - val_accuracy: 0.8512
Epoch 51/100
5359/5359 [==============================] - 0s 83us/step - loss: 0.3329 - accuracy: 0.8649 - val_loss: 0.3629 - val_accuracy: 0.8508
Epoch 52/100
5359/5359 [==============================] - 0s 84us/step - loss: 0.3323 - accuracy: 0.8623 - val_loss: 0.3642 - val_accuracy: 0.8466
Epoch 53/100
5359/5359 [==============================] - 0s 84us/step - loss: 0.3324 - accuracy: 0.8632 - val_loss: 0.3642 - val_accuracy: 0.8485
Epoch 54/100
5359/5359 [==============================] - 0s 88us/step - loss: 0.3322 - accuracy: 0.8628 - val_loss: 0.3619 - val_accuracy: 0.8512
Epoch 55/100
5359/5359 [==============================] - 0s 87us/step - loss: 0.3320 - accuracy: 0.8630 - val_loss: 0.3622 - val_accuracy: 0.8535

Epoch 56/100
5359/5359 [==============================] - 0s 85us/step - loss: 0.3319 - accuracy: 0.8625 - val_loss: 0.3627 - val_accuracy: 0.8501
Epoch 57/100
5359/5359 [==============================] - 0s 82us/step - loss: 0.3318 - accuracy: 0.8625 - val_loss: 0.3628 - val_accuracy: 0.8512
Epoch 58/100
5359/5359 [==============================] - 0s 83us/step - loss: 0.3315 - accuracy: 0.8638 - val_loss: 0.3622 - val_accuracy: 0.8512
Epoch 59/100
5359/5359 [==============================] - 0s 82us/step - loss: 0.3314 - accuracy: 0.8628 - val_loss: 0.3626 - val_accuracy: 0.8512
Epoch 60/100
5359/5359 [==============================] - 0s 87us/step - loss: 0.3311 - accuracy: 0.8638 - val_loss: 0.3624 - val_accuracy: 0.8508
Epoch 61/100
5359/5359 [==============================] - 0s 84us/step - loss: 0.3310 - accuracy: 0.8630 - val_loss: 0.3625 - val_accuracy: 0.8497
Epoch 62/100
5359/5359 [==============================] - 0s 82us/step - loss: 0.3307 - accuracy: 0.8632 - val_loss: 0.3637 - val_accuracy: 0.8485
Epoch 63/100
5359/5359 [==============================] - 0s 86us/step - loss: 0.3307 - accuracy: 0.8614 - val_loss: 0.3616 - val_accuracy: 0.8508
Epoch 64/100
5359/5359 [==============================] - 0s 81us/step - loss: 0.3306 - accuracy: 0.8632 - val_loss: 0.3627 - val_accuracy: 0.8489
Epoch 65/100
5359/5359 [==============================] - 0s 82us/step - loss: 0.3300 - accuracy: 0.8625 - val_loss: 0.3602 - val_accuracy: 0.8523
Epoch 66/100
5359/5359 [==============================] - 0s 83us/step - loss: 0.3302 - accuracy: 0.8630 - val_loss: 0.3607 - val_accuracy: 0.8508
Epoch 67/100
5359/5359 [==============================] - 0s 83us/step - loss: 0.3303 - accuracy: 0.8645 - val_loss: 0.3630 - val_accuracy: 0.8478
Epoch 68/100
5359/5359 [==============================] - 0s 83us/step - loss: 0.3300 - accuracy: 0.8640 - val_loss: 0.3620 - val_accuracy: 0.8497
Epoch 69/100
5359/5359 [==============================] - 0s 83us/step - loss: 0.3300 - accuracy: 0.8606 - val_loss: 0.3611 - val_accuracy: 0.8512
Epoch 70/100
5359/5359 [==============================] - 0s 83us/step - loss: 0.3295 - accuracy: 0.8625 - val_loss: 0.3604 - val_accuracy: 0.8485
Epoch 71/100
5359/5359 [==============================] - 0s 83us/step - loss: 0.3297 - accuracy: 0.8614 - val_loss: 0.3598 - val_accuracy: 0.8508
Epoch 72/100
5359/5359 [==============================] - 0s 84us/step - loss: 0.3295 - accuracy: 0.8643 - val_loss: 0.3608 - val_accuracy: 0.8523
Epoch 73/100
5359/5359 [==============================] - 0s 82us/step - loss: 0.3292 - accuracy: 0.8643 - val_loss: 0.3605 - val_accuracy: 0.8489
Epoch 74/100
5359/5359 [==============================] - 0s 82us/step - loss: 0.3292 - accuracy: 0.8636 - val_loss: 0.3600 - val_accuracy: 0.8516
Epoch 75/100
5359/5359 [==============================] - 0s 82us/step - loss: 0.3291 - accuracy: 0.8649 - val_loss: 0.3602 - val_accuracy: 0.8519
Epoch 76/100
5359/5359 [==============================] - 0s 86us/step - loss: 0.3289 - accuracy: 0.8642 - val_loss: 0.3604 - val_accuracy: 0.8497
Epoch 77/100
5359/5359 [==============================] - 0s 86us/step - loss: 0.3287 - accuracy: 0.8623 - val_loss: 0.3607 - val_accuracy: 0.8512
Epoch 78/100
5359/5359 [==============================] - 0s 86us/step - loss: 0.3286 - accuracy: 0.8634 - val_loss: 0.3605 - val_accuracy: 0.8508
Epoch 79/100
5359/5359 [==============================] - 0s 84us/step - loss: 0.3288 - accuracy: 0.8649 - val_loss: 0.3614 - val_accuracy: 0.8504
Epoch 80/100
5359/5359 [==============================] - 0s 83us/step - loss: 0.3289 - accuracy: 0.8636 - val_loss: 0.3597 - val_accuracy: 0.8527
Epoch 81/100
5359/5359 [==============================] - 0s 84us/step - loss: 0.3286 - accuracy: 0.8656 - val_loss: 0.3623 - val_accuracy: 0.8470
Epoch 82/100
5359/5359 [==============================] - 1s 99us/step - loss: 0.3287 - accuracy: 0.8634 - val_loss: 0.3599 - val_accuracy: 0.8489
Epoch 83/100
5359/5359 [==============================] - 0s 78us/step - loss: 0.3285 - accuracy: 0.8655 - val_loss: 0.3610 - val_accuracy: 0.8474
Epoch 84/100
5359/5359 [==============================] - 0s 83us/step - loss: 0.3284 - accuracy: 0.8612 - val_loss: 0.3611 - val_accuracy: 0.8493
Epoch 85/100
5359/5359 [==============================] - 0s 90us/step - loss: 0.3285 - accuracy: 0.8642 - val_loss: 0.3599 - val_accuracy: 0.8508
Epoch 86/100
5359/5359 [==============================] - 0s 79us/step - loss: 0.3281 - accuracy: 0.8645 - val_loss: 0.3617 - val_accuracy: 0.8497
Epoch 87/100
5359/5359 [==============================] - 0s 86us/step - loss: 0.3284 - accuracy: 0.8636 - val_loss: 0.3619 - val_accuracy: 0.8489
Epoch 88/100
5359/5359 [==============================] - 0s 84us/step - loss: 0.3284 - accuracy: 0.8612 - val_loss: 0.3602 - val_accuracy: 0.8523
Epoch 89/100
5359/5359 [==============================] - 0s 85us/step - loss: 0.3283 - accuracy: 0.8649 - val_loss: 0.3615 - val_accuracy: 0.8501
Epoch 90/100
5359/5359 [==============================] - 0s 82us/step - loss: 0.3282 - accuracy: 0.8636 - val_loss: 0.3599 - val_accuracy: 0.8531
Epoch 91/100
5359/5359 [==============================] - 0s 82us/step - loss: 0.3276 - accuracy: 0.8645 - val_loss: 0.3611 - val_accuracy: 0.8508
Epoch 92/100
5359/5359 [==============================] - 0s 81us/step - loss: 0.3283 - accuracy: 0.8643 - val_loss: 0.3609 - val_accuracy: 0.8501
Epoch 93/100
5359/5359 [==============================] - 0s 82us/step - loss: 0.3282 - accuracy: 0.8623 - val_loss: 0.3601 - val_accuracy: 0.8531
Epoch 94/100
5359/5359 [==============================] - 0s 90us/step - loss: 0.3281 - accuracy: 0.8630 - val_loss: 0.3615 - val_accuracy: 0.8482
Epoch 95/100
5359/5359 [==============================] - 0s 91us/step - loss: 0.3277 - accuracy: 0.8640 - val_loss: 0.3604 - val_accuracy: 0.8501
Epoch 96/100
5359/5359 [==============================] - 0s 87us/step - loss: 0.3279 - accuracy: 0.8640 - val_loss: 0.3601 - val_accuracy: 0.8527
Epoch 97/100
5359/5359 [==============================] - 0s 81us/step - loss: 0.3279 - accuracy: 0.8638 - val_loss: 0.3601 - val_accuracy: 0.8519
Epoch 98/100
5359/5359 [==============================] - 0s 86us/step - loss: 0.3278 - accuracy: 0.8653 - val_loss: 0.3605 - val_accuracy: 0.8470
Epoch 99/100
5359/5359 [==============================] - 0s 91us/step - loss: 0.3280 - accuracy: 0.8627 - val_loss: 0.3603 - val_accuracy: 0.8501
Epoch 100/100
5359/5359 [==============================] - 0s 83us/step - loss: 0.3278 - accuracy: 0.8655 - val_loss: 0.3614 - val_accuracy: 0.8516

In [101]:
y_pred = classifier.predict(x_test)
y_pred = (y_pred > 0.5)
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [102]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[1500,   95],
       [ 187,  218]], dtype=int64)

In [103]:
from sklearn.metrics import accuracy_score
score=accuracy_score(y_pred,y_test)
score

0.859